@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=M+PLUS+1p&family=Poppins:wght@500&family=Secular+One&display=swap');
header{
    padding-left: 15px;
    color: #18191F;
}
body{
    font-family: 'Poppins', sans-serif; 
    
}
.container{
    background-color: #ffff;
width: 800px;
 padding-left: 80px;
margin-top: 12px;
margin-right: 15px;
margin-left: 15px;
border-radius: 5px;
padding-top: 10px;
}
.start{width: 582px;
    height: 279px;
    padding-left: 15px;
}
button{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #E02C6D;
border-radius: 41px;
}
.new{
    background-color: none !important;
    color: #FFFFFF !important;
}
.intro{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.intro img{ 
    width: 300px;
height: 250px;
 } 
 /*-------- collection---------- */
 .main{
     display: flex;
     justify-content:space-around ;
 }
 .collections{
    width: 1047px;
    height: 1662px;
     display: grid;
     grid-template-columns: repeat(3,1fr);
 }
 .collection{
    color: #18191F;
    padding-right: 5px;
 }
 .collection img{
    width: 300px;
    height: 256px;
 }
 .filled{
     color: #FB8200;
 }
 .see{
     color:#E02C6D ;
     position: relative;
     left: 700px;
 }
 footer{
     background-color: #26148d;
     text-align: center;
    color: #FFFFFF;
 }

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
        padding-left: 0px;
    }
    header{
        display:flex ;
        justify-content: flex-start;
        padding-left: 10px;
    }
    .intro, .collections  {
        grid-template-columns: repeat(1,1fr);
        justify-items: flex-start; 
        padding-left: 0px;
        padding-right: 0px;
    }
      .start{
            max-width: 200px; 
            margin-bottom: 60px;
            padding-bottom: 33px;
      }
      .collections{
          height: 300px;
          width: 500px;
          padding-bottom: 0px;
          margin-bottom: 0px;
      }
      .collection{ 
          padding-bottom: 0px;
          margin-bottom: 0px;
          padding-top: 0px;
          margin-top: 0px;
      }
      .collection img{
        width: 300px;
        height: 256px;
      }
      .main{
          justify-content: flex-start;
      }
      .paragraph{
          max-width: 200px;
      }
      .see{
          justify-content: left;
      }
      footer{
        position:fixed;
        bottom: 0;
        width: 300px;
        height:250px;
      }
      
    }
